<div class="container" [style]="{ display: modalService.modalStatus ? 'block' : 'none'}">
    <div class="lightbox"></div>
    <div class="box-container">
        <!-- <div class="top-box"></div> -->
        <!-- <div class="bottom-box"></div> -->
        <div class="middle-box">
            <p class="box-title">{{modalService.modalTitle}}</p>
            <div class="options">
                <!-- <p (mouseover)="playHoverSound()" class="selectable-category"
                    (click)="modalService.modalTitle ==='You Win'? continueGame(false):''">CONTINUE</p> -->
                <p (mouseover)="playHoverSound()" class="selectable-category"
                    (click)="continueGame(false)">CONTINUE</p>
                <p (mouseover)="playHoverSound()" 
                    (click)="continueGame(true)"class="selectable-category">NEW CATEGORY</p>
                <p (mouseover)="playHoverSound()"
                    (click)="quiteGame()" class="selectable-category last-selectable-category">QUIT GAME</p>
            </div>
        </div>
    </div>
</div>
