<main>
    <header>
        <app-back-button/>
        <h1 class="category-header">Pick a Category</h1>
    </header>

    <section id="category-list">
        <div class="selectable-category">
            <h3>Movies</h3>
        </div>
        <div class="selectable-category">
            <h3>TV Shows</h3>
        </div>
        <div class="selectable-category">
            <h3>Countries</h3>
        </div>
        <div class="selectable-category">
            <h3>Capital Cities</h3>
        </div>
        <div class="selectable-category">
            <h3>Animals</h3>
        </div>
        <div class="selectable-category">
            <h3>Sports</h3>
        </div>
    </section>
</main>
