

@media only screen and (min-width: 320px) and (max-width: 427.5px) {
    main{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2.5rem 2rem ;
        gap: 2.5rem;

        header{
            display: flex;
            align-items: center;
            gap: 3rem;
        }

        #category-list{
            display: grid;
            gap: 0.5rem;
            overflow: scroll;

            .selectable-category{
                height: 4.8125rem;
                width: 20.25rem;
                font-size: 1.5rem;
            }
        }

        #category-header{
            font-size: 2rem;
        }

    }
}

@media only screen and (min-width: 428px) and (max-width: 768px) {
    main{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: 100%;
        padding: 2rem;
        margin: auto;
        gap: 1.75rem;

        header{
            display: flex;
            gap: 4rem;
            align-items: center;

            #category-header{
                font-size: 6.5rem;
            }
            
        }

        #category-list{
            width: 100%;
            border: 2px solid #4d9;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr); 
            grid-template-rows: repeat(3, auto);
            row-gap: 2.5rem;
            column-gap: 2rem;
            overflow: hidden;

            .selectable-category{
                height: 11.6875rem;
                width: 20.25rem;
                font-size: 3rem;
            }
        }
        
    }
}

@media only screen and (min-width: 768.5px) {
    main{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 3.5rem 4rem 4rem 4rem;

        header{
            display: flex;
            gap: 4rem;
            align-items: center;

            #category-header{
                font-size: 4.5rem;
            }
        }

        #category-list{
            width: 100%;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            grid-template-rows: repeat(2, auto);
            row-gap: 2.5rem;
            column-gap: 2rem;

            .selectable-category{
                width: 18.25rem;
                height: 11.6875rem;  
            }
        }
    }
}

.selectable-category {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--white);
    border-radius: 40px;
    border: none;
    appearance: none;
    background-color: var(--blue);
    box-shadow: inset 0 -2px 0 3px rgba(20, 14, 102, 1),
      inset 0 1px 0 6px rgba(60, 116, 255, 1);
    cursor: pointer;
    transition: 0.2s ease-in;
  }
  
  .selectable-category:hover {
    background-color: var(--blue-hover);
  }