<main>
    <header>
        <app-back-button routerLink="/" (click)="playClickOptionSound()"></app-back-button>
        <h1 id="category-header">Pick a Category</h1>
    </header>

    <section id="category-list">
        @for(category of categoryList; track category){
            <div (click)="dataStateService.routeToGame(category)" class="selectable-category" (click)="playClickOptionSound()" (click)="playHoverSound()">
                <h3 class="selectable-text">{{category.toUpperCase()}}</h3>
            </div>
        }
    </section>
</main>
