@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');


.container {
    max-width: 90%;
    height: 80vh;
    margin: auto;
    font-family: "Mouse Memoirs", sans-serif;
}
.heading-container {
    margin: 20px auto 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

h1 {
    font-size: 48px;
    background-image: linear-gradient(#67B6FF, #FFFFFF);
    color: transparent;
    background-clip: text;
    -webkit-text-stroke: 2px #243041;
    font-weight: 800;
}

main {
    display: grid;
    gap: 20px;
}

.text-container {
    background-color: white;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 30px;
    padding: 32px;
}

.text-container * {
    font-weight: 500;
}
h2 {
    font-size: 24px;
    color: #261676;
    margin-bottom: 10px;
}

.number {
    color: #2463FF;
    font-size: 24px;
}

.text-container p {
    color: #887DC0;
}