<div class="instruct-container">
    <div class="header-container">
        <app-back-button routerLink="/" (click)="playClickOptionSound()"></app-back-button>
        <h1>How to play</h1>
    </div>

    <main>
        <div class="text-container">
            <div class="number">01</div>
            <h2>CHOOSE A CATEGORY</h2>
            <P>First, choose a word category, like animals or movies. 
                The computer then randomly selects a secret word from that 
                topic and shows you blanks for each letter of the word.</P>
        </div>
        <div class="text-container">
            <div class="number">02</div>
             <h2>GUESS LETTERS</h2>
             <P>Take turns guessing letters. 
                The computer fills in the relevant blank spaces if your guess is correct. 
                If it’s wrong, you lose some health, 
                which empties after eight incorrect guesses.</P>
         </div>
         <div class="text-container">
            <div class="number">03</div>
             <h2>WIN OR LOSE</h2>
             <P>You win by guessing all the letters in the 
                word before your health runs out. 
                If the health bar empties before you guess the word, 
                you lose.
            </P>
         </div>
    </main>
  
</div>

