<div class="container" [style]="{ display: modalService.modalStatus ? 'block' : 'none'}">
    <div class="lightbox"></div>
    <div class="box-container">
        <!-- <div class="top-box"></div> -->
        <!-- <div class="bottom-box"></div> -->
        <div class="middle-box">
            <p class="box-title">Paused</p>
            <div class="options">
                <p class="selectable-category">CONTINUE</p>
                <p class="selectable-category">NEW CATEGORY</p>
                <p class="selectable-category last-selectable-category">QUIT GAME</p>
            </div>
        </div>
    </div>
</div>
