<div class="container" [style]="{ display: modalService.modalStatus ? 'block' : 'none'}">
    <div class="lightbox"></div>
    <div class="box-container">
        <!-- <div class="top-box"></div> -->
        <!-- <div class="bottom-box"></div> -->
        <div class="middle-box">
            <p class="box-title">Paused</p>
            <div class="options">
                <a (mouseover)="playHoverSound()" class="selectable-category"
                    (click)="playClickOptionSound()" 
                    (click)="hideModal()">CONTINUE</a>
                <a (mouseover)="playHoverSound()" 
                    (click)="playClickOptionSound()"class="selectable-category">NEW CATEGORY</a>
                <a (mouseover)="playHoverSound()"
                    (click)="playClickOptionSound()" class="selectable-category last-selectable-category">QUIT GAME</a>
            </div>
        </div>
    </div>
</div>
